<% include ../partials/header %>

<div class="container">
	<div class="row">
		<div style="width: 30%; margin: 25px auto;">
			<h4>Create a new Project</h4>		
			<form action="/config" method="POST">
				<div class="form-group">
					<input type="text" name="name" placeholder="name">
				</div>
				<div class="form-group">
					<input type="text" name="description" placeholder="description">
				</div>
				<div class="form-group">
					<button class=btn-primary btn-block">Submit</button>
					<a href="/">Go Back</a>
				</div>
			</form>		
			
		</div>

	</div>
</div>

<div>
    <div class="row text-center" style="display:flex; flex-wrap: wrap">
		<% projects.forEach(function(project){%>
			<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
					<div class="caption">
						<h4><%= project.name%></h4>
					</div>
					<p>
						<a href="/config/<%= project._id%>" class="btn btn-primary">More Info</a>
					</p>
				</div>
			</div>
		<% }); %>
	</div>
</div>
<% include ../partials/footer %>