<% include partials/header %>

<div>
    <div class="card" style="width: 18rem; text-align: center; margin: 0 auto;">
        <div class="card" style="width: 18rem; ">
            <a  href="/project" class="card-body">Projects</a>
        </div>
        <div class="card" style="width: 18rem;">
            <a href="/config" class="card-body">Configuration</a>
        </div>
    </div>

</div>

<canvas id="myChart" width="400" height="150"></canvas>

<% include partials/footer %>